@layer components {
    .faq-accordion {
        @apply max-w-[900px] mx-auto flex flex-col items-center;
    }

    .faq-article {
        @apply flex flex-col justify-center bg-white text-black mb-4 max-w-[350px] rounded-xl p-6 sm:max-w-[550px] rounded-2xl md:max-w-[900px] rounded-3xl;
    }
}

.bg-faq-page {
    background-image: url("../../svg/bg-faq.svg");
    /*     background-attachment: fixed;
    background-position-y: 35%; */
    @apply bg-bgBlack bg-no-repeat bg-cover text-white;
}

.close-arrow {
    box-shadow: 0px 5px 16px 0px rgba(64, 56, 153, 0.1);
    @apply max-w-[50px] max-h-[50px] rounded-full;
}