.nav-item {
    @apply w-full max-w-[16.75rem] h-[3.375rem] rounded-xl p-1 sm:p-3 sm:p-4;
}

@layer components {
    .active-btn {
        @apply bg-gradient-to-r from-linearGreen to-linearPurple text-white;
    }

    .active-btn svg {
        stroke: none;
        fill: white;
    }

    .inactive-btn {
        @apply bg-white text-[#999999];
    }

    .inactive-btn svg {
        stroke: #999999;
        fill: white;
    }
}