<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        @font-face {
            font-family: "montserrat";
            src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
        }

        body {
            font-family: "montserrat", sans-serif;
        }

        * {
            margin: 0px;
            padding: 0px;
        }
    </style>

</head>

<body>
    <div>
        <p style="padding-bottom:1rem">Az összefoglalódat a Musictest mobilalkalmazásában találod.</p>
        <ol type="1" start="1" style="padding-left:2rem">
            <li>Koppints a Főoldal ikonra.</li>
            <li>Válaszd ki az összefoglaló falát.</li>
            <li>Az összefoglalód történeteit Az összefoglalód opcióra koppintva tekintheted meg.</li>
        </ol>

        <p style="padding-top: 1rem; padding-bottom: 1rem;">Megjegyzés: Győződj meg arról, hogy a Musictest alkalmazás
            legfrissebb verzióját használod.</p>
        <p style="padding-bottom: 1rem;">Ha inkább az asztali alkalmazást vagy a webes verziót használod szívesebben,
            lépj a
            musictest.hu/wrapped oldalra, és
            tudd meg, mit árul el rólad, hogy miket hallgattál ebben az évben.</p>
        <p style="padding-bottom: 1rem;">Ha nem jelenik meg az összefoglalód, olvasd el ezt a topikot a közösségi
            fórumunkon.</p>
    </div>
</body>

</html>