@import "./base.css";
@import "./css/components/typo.css";
@import "./css/components/card.css";
@import "./css/components/contact.css";
@import "./css/components/footer.css";
@import "./css/components/header.css";
@import "./css/components/topLists.css";
@import "./css/components/faq.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.container {
  max-width: 1280px;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500;1,600&display=swap");
}

.list-items-title {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
}

.list-items-desc {
  font-size: 14px;
  font-weight: 500;
  color: #6B6B6B;
}